*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
    height: 100vh;
}
/* ---navbar--- */
.container section:first-child{
    background-color: #000;
    height:10vh;
}
.navbar{
margin:auto 50px;
position:relative;
top:50%;
transform:translate(0%,-50%);
}
.logo{
    width:110px;
    position:absolute;
    top:50%;
    left:0%;
    transform: translate(0%,-50%);
}
.line{
    position:absolute;
    left:12%;
    top:50%;
    transform:translate(-12%,-50%);
    height:30px;
    width: 1px;
    background-color: #fff;
}
.navbar div{
    display:inline-block;
}
.list{
    position:absolute;
    top:50%;
    left:30%;
    transform:translate(-30%,-50%);
}
.list-item{
    color:#fff;
    display:inline-block;
    list-style-type:none;
    margin:30px;
    cursor: pointer;
    font-weight: 500;
}
.list .list-item:first-child{
    position:relative;
}
.list .list-item:first-child::after {
    content: "";
    position: absolute;
    height: 7px;
    width: 1.2px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    top: 11px;
    right: -10px;
}
.list .list-item:first-child::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 1.2px;
    background-color: #ffffff;
    transform: rotate(45deg);
    right: -14px;
    top: 11px;
}
.button-small{
    position:absolute;
    right:0%;
    top:50%;
    transform:translate(0%,-50%);
    border:none;
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    padding:8px 20px;
    border-radius: 10px;
    background-color: #ba0cc5;
    cursor: pointer;
}
/* ---hero section--- */
.hero{
    background-image:linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../assets/bg.png);
    background-size:cover;
    background-position: center;
    height:90vh;
    color:#fff;
    text-align: center;
}
.hero-heading{
    position:relative;
    left:50%;
    top:23%;
    transform:translate(-50%,-23%);
    max-width: 900px;
    font-size: 4rem;
    font-weight: 600;
}
.hero-description{
    position:relative;
    top:16%;
    transform: translate(0%,-16%);
    font-weight: 400;
    font-size: 1.2rem;
}
.button-large{
    position:relative;
    top:25%;
    transform:translate(0%,-25%);
    border:none;
    padding:10px 20px;
    color:#fff;
    background-color: #ba0cc5;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor:pointer;
}